#character-page {
    display: flex;
    font-weight: 600;
    height: 100%;
    box-shadow: 10px 10px 20px #eee;
}

#male {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 10px;
}

#female {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 10px;
}

#choose-type {
    width: 50%;
    color: white;

}

#character-gender {
    background-color: rgba(128, 128, 128, 0.303);
    padding: 20px;
    height: 30%;
}

#character-race {
    background-color: rgba(109, 108, 108, 0.588);
    padding: 20px;
    height: 70%;
}

#races-container{
    text-align: center;
    margin: 30px auto;
    width: 50%;
    cursor: pointer;
}
.races{
    margin: 10px;
}

#genders-container {
    text-align: center;
}


#character-container {
    width: 50%;
    background-color: rgba(54, 52, 52, 0.967);
}

#character-name {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 40px;
    height: 30%;
}

.choosen {
    background-color: lightblue;
    transform: scale(1.3);
}

.race {
    padding: 10px;
}

#character-img{
    height: 70%;
    width: 70%; 
    object-fit: contain;
    display: block;
    margin: auto;
}