#header{
    padding: 20px;
    font-size: 30px;
    color: white;
    font-weight: 600;
    display: inline-block;
  }
  
  section{
    margin: 30px auto;
    width: 80%;
    color: white;
  }
  
  input{
    margin: 20px 0;
    display: block;
  }
  
  #starter-button{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: grey;
    color: white;
    font-weight: 700;
  }